.vue-notification {
  padding: 10px;
  margin: 0 5px 5px;

  font-size: 12px;

  color: #ffffff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;

  &.success {
      background: #68CD86;
      border-left-color: #42A85F;
  }

  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }
}